{% extends 'base.html' %}

{% block title %}Tarefas Concluidas{% endblock %}

{% block content %}
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Concluidas</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for task in tarefas %}
    <tr>
    <td>{{task.titulo}}</td>
    <td>{{task.descricao}}</td>
    <td>{{task.concluida}}</td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
