{% extends 'base.html' %} 

{% block title %}Minhas Tarefas{% endblock %}

{% block content %}
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titulo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for task in tarefas %}
    <tr>

    <td>{{task.id}}</td>
    <td>{{task.titulo}}</td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>

    {% endblock %}
















    








































































